<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Эксперт люкс</title>
        <meta name="description" content="Регистрация ООО, ИП, НКО, под ключ, нотариальные услуги, юридические консультации в Перми"/>
        <meta name="keywords" content="регистрация, ООО, ИП, НКО, под ключ, нотариальные услуги, юридические консультации, ОКВЭД, Пермь" />
        <meta name="author" lang="ru" content="vahpetr" />
        <meta name="copyright" lang="ru" content="vahpetr" />
        <link type="text/plain" rel="author" href="humans.txt" />
        <meta name="application-name" post="Эксперт Люкс" />
        <link rel="canonical" href="http://expertlux.com" />
        <link rel="icon" href="~/favicon.ico" type="image/x-icon">
	    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
	    <link rel="image_src" href="~/images/logo.gif" />
        <meta property="og:locale" content="ru_RU" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Эксперт люкс" />
        <meta property="og:description" content="Регистрация ООО, ИП, НКО, под ключ, нотариальные услуги, юридические консультации в Перми" />
        <meta property="og:url" content="http://expertlux.com"/>
        <meta property="og:site_name" content="Эксперт Люкс" />
        <meta property="og:image" content="~/images/logo.gif">
        <meta property="og:image:type" content="image/png">
        <meta property="og:image:width" content="984">
        <meta property="og:image:height" content="202">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@@expertlux" />
        <meta name="twitter:title" content="Эксперт люкс" />
        <meta name="twitter::description" content="Регистрация ООО, ИП, НКО, под ключ, нотариальные услуги, юридические консультации в Перми">
        <meta name="twitter:creator" content="vahpetr">
        <meta name="twitter:image" content="http://expertlux.com/images/logo.gif" />
        <meta name="apple-mobile-web-app-capable" post="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" post="black" />
        <link rel="apple-touch-icon" href="~/images/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/images/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/images/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/images/touch-icon-ipad-retina.png">
        <meta name="msapplication-TileColor" post="#FFFFFF" />
        <meta name="msapplication-TileImage" post="~/images/logo.gif" />
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
        <meta name="format-detection" content="telephone=no">
        <meta name="yandex-verification" content="7e965286eaf56c8a" />
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img class="nav-bar-logo" src="~/images/logo.gif" alt="Экспер люкс">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">О Нас</a>
                    </li>
                    <li>
                        <a href="#services">Сервис</a>
                    </li>
                    <li>
                        <a href="#contact">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="#about">О нас</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Сервис</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Контакты</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Авторские права &copy; Эксперт Люкс 2016. Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>
        <div itemscope itemtype="http://schema.org/LocalBusiness" class="hidden">
            <span itemprop="name">Эксперт люкс</span>
            <span itemprop="description">Регистрация ООО, ИП, НКО под ключ, Нотариальные услуги, Документы государственной регистрации, Юридические консультации</span>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">ул.Пушкина д.27</span>
                <span itemprop="addressLocality">г.Пермь </span>,
                <span itemprop="addressRegion">RU</span>
            </div>
            <span itemprop="telephone">89026460866</span>
            <span itemprop="telephone">2760866</span>
            <a href="mailto:expertlux@bk.ru" itemprop="email">expertlux@bk.ru</a>
            <a href="http://expertlux.com" itemprop="url">expertlux.com</a>
        </div>
    </body>
</html>
<environment names="Debug,Development">
    <link rel="stylesheet" href="~/libs/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/styles/site.css" />
    <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />

    <script src="~/libs/jquery/dist/jquery.js"></script>
    <script src="~/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/scripts/app.js"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/libs/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/site.min.css.gz" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
            asp-fallback-href="~/libs/font-awesome/css/font-awesome.min.css"
            asp-fallback-test-class="fa" asp-fallback-test-property="display" asp-fallback-test-value="inline-block" />

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
            asp-fallback-src="~/libs/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"
            asp-fallback-src="~/libs/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>-->
    <script src="~/app.min.js.gz" asp-append-version="true"></script>
</environment>

<script async src="//www.google-analytics.com/analytics.js"></script>

@RenderSection("scripts", required: false)
