<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <hr class="intro-divider">
                    <h1>
                        <span class="uppercase">Регистрация под ключ</span>
                        <br>
                        <span>ООО, ИП, НКО</span>
                    </h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div> 
<section id="services">
	<a name="services"></a>
    <div class="content-section content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Сервис</h2>
                    <h1 class="section-subheading text-muted">&ldquo;Эксперт люкс&rdquo;  - эксперт твоего бизнеса!</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Быстро</h4>
                    <p class="text-muted">Через 24 часа документы, через 5 дней компания</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Дешево</h4>
                    <p class="text-muted">Регистрация ООО за 3500 рублей, ИП за 1500 рублей, НКО за 6000 рублей</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Надежно</h4>
                    <p class="text-muted">Своевременный результат и конфиденциальность данных для нас основная задача</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-small content-section-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Записаться на бесплатную консультацию</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <form class="form" action="api/mail" method="POST">
                        <input type="hidden" name="type" value="consultation">    
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2 col-sm-5 col-sm-offset-1">
                            <div class="form-group name">
                                <label class="sr-only" for="name">Имя</label>
                                <input name="name" type="text" class="form-control" placeholder="Имя:">
                            </div>
                            </div>
                            <div class="col-lg-4 col-sm-5">
                                <div class="form-group phone">
                                    <label class="sr-only" for="phone">Телефон</label>
                                    <input name="phone" type="phone" class="form-control" placeholder="Телефон:">
                                </div>
                            </div>
                        </div>      
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <button type="submit" class="btn btn-lg btn-danger">Отправить</button>
                            </div>
                        </div> 
                    </form>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="list-group list-group-note">
                        <li class="list-group-item">&lowast; личные данные не подлежат разглашению и передаче третьим лицам</li>
                        <li class="list-group-item">&lowast; государственные пошлины и иные обязательные платежи подлежат оплате дополнительно</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center intro-message-small">
                        <h3>Бизнес процесс</h3>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-wrap step step-1">
                                <div>
                                    1
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Сегодня</h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Вы отправляете заявку о регистрации
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-wrap step step-2">
                                <div>
                                    2
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Завтра</h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                         Мы сопровождаем Вас к нотариусу
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-wrap step step-3">
                                <div>
                                    3
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
                                        Спустя 3 дня
                                    </h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Вы получаете документы о государственной регистрации
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section content-section-dark additional-services">
       <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>Оказываем услуги</h3>
                        </div>
                        <ol class="list-group">
                            <li class="list-group-item">Подбор кодов видов деятельности (ОКВЭД)</li>
                            <li class="list-group-item">Подбор наиболее выгодной системы налогообложения</li>
                            <li class="list-group-item">Открытие расчётного счёта в банке</li>
                            <li class="list-group-item">Документы государственной регистрации</li>
                            <li class="list-group-item">Нотариальные услуги</li>
                            <li class="list-group-item">Юридические консультации</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="content-section-small content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Отправить заявку</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <form class="form" action="api/mail" method="POST">
                        <input type="hidden" name="type" value="seal">    
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-2 col-sm-5 col-sm-offset-1">
                            <div class="form-group name">
                                <label class="sr-only" for="name">Имя</label>
                                <input name="name" type="text" class="form-control" placeholder="Имя:">
                            </div>
                            </div>
                            <div class="col-lg-4 col-sm-5">
                                <div class="form-group phone">
                                    <label class="sr-only" for="phone">Телефон</label>
                                    <input name="phone" type="phone" class="form-control" placeholder="Телефон:">
                                </div>
                            </div>
                        </div>      
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <button type="submit" class="btn btn-lg btn-danger">Отправить</button>
                            </div>
                        </div> 
                    </form>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="list-group list-group-note">
                        <li class="list-group-item">&lowast; личные данные не подлежат разглашению и передаче третьим лицам</li>
                        <li class="list-group-item">&lowast; государственные пошлины и иные обязательные платежи подлежат оплате дополнительно</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="contact">
    <a name="contact"></a>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <h4 class="section-heading">Мы находимся по адресу г.Пермь ул.Пушкина д.27</h4>
                <hr class="primary">
                <p>Часы работы с 10-00 до 18-00 в будни дни.</p>
                <div class="map"></div>
            </div>
        </div>
    </div>
    <section class="content-section-small contact-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="heading">
                        <h2 class="section-heading">Контактные данные</h2>
                        <hr class="primary">
                        <p>
                            Позвоните или отправьте электронное письмо и мы свяжемся с вами как можно скорее.         
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                    <a href="tel:+23422760866">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        2760866
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                    <a href="tel:+79026460866">
                        <i class="fa fa-phone fa-3x wow bounceIn"></i>
                        89026460866
                    </a>
                </div>
                <div class="col-lg-4 col-sm-4 col-xs-4 text-center">
                    <a href="mailto:expertlux@bk.ru">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn"></i>
                        expertlux@bk.ru
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Поделись о нас в соцсетях</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="http://vk.com/share.php?url=http://expertlux.com&title=Эксперт люкс - эксперт твоего бизнеса!&description=Регистрация ООО, ИП, НКО под ключ, нотариальные услуги, юридические консультации в Перми" class="btn btn-default btn-lg">
                            <i class="fa fa-vk fa-fw"></i>
                            <span class="network-name">ВКонтакте</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?url=http://expertlux.com&hashtags=expertlux&text=Регистрация ООО, ИП, НКО под ключ, нотариальные услуги, юридические консультации в Перми" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/cws/share?url=http://expertlux.com" class="btn btn-default btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>