@{
    ViewData["Title"] = "Эксперт Люкс";
}   
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <hr class="intro-divider">
                    <h1>
                        <span class="uppercase">Регистрация под ключ</span>
                        <br>
                        <span>ООО, ИП, НКО</span>
                    </h1>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div> 
<section id="services">
	<a name="services"></a>
    <div class="content-section content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    Быстро
                </div>
                <div class="col-lg-4 col-sm-4">
                    через
                </div>
                <div class="col-lg-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item">24 часа - документы</li>
                        <li class="list-group-item">7 дней - компания</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    Дёшево
                </div>
                <div class="col-lg-4 col-sm-4">
                    регистрация
                </div>
                <div class="col-lg-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item">ООО за 3000 рублей</li>
                        <li class="list-group-item">ИП за 1500 рублей</li>
                        <li class="list-group-item">НКО за 6000 рублей</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    Немедленно
                </div>
                <div class="col-lg-4 col-sm-4">
                    результат
                </div>
                <div class="col-lg-4 col-sm-4">
                    <ul class="list-group">
                        <li class="list-group-item">100% гарантия</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section-small content-section-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>
                        <span class="uppercase">Консультации</span>
                        <span class="underline">для Вас</span>
                        <span class="uppercase">бесплатно</span>
                    </h3>
                </div>
            </div>
            @await Html.PartialAsync("_Сrier")
        </div>
    </div>
    <div class="content-section content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center intro-message-small">
                    <h3>
                        <span class="uppercase">Вам</span>
                        <span class="underline">с нами будет</span>
                        <span class="uppercase">легко</span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-wrap">
                                <div>
                                    1
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Сегодня</h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Вы отправляете заявку о регистрации
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-wrap">
                                <div>
                                    2
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Завтра</h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                         Мы сопровождаем Вас к нотариусу
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-wrap">
                                <div>
                                    3
                                    <br>
                                    этап
                                </div>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
                                        Спустя 3 дня
                                    </h4>
                                </div>
                            </div>
                            <div class="timeline-panel inverted">
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Вы получаете документы о государственной регистрации
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section content-section-dark">
       <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3>
                                <span class="uppercase">Бесплатно</span>
                                <span class="underline">для Вас</span>
                            </h3>
                        </div>
                        <ol class="list-group">
                            <li class="list-group-item">Подберём коды видов деятельности (ОКВЕД)</li>
                            <li class="list-group-item">Подберём наиболее выгодную систему налогооблажения</li>
                            <li class="list-group-item">Откроем расчётный счёт в банке</li>
                            <li class="list-group-item">Проконсультируем на всех этапах сотрудничества</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="content-section-small content-section-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Отправте заявку - получить печать в подарок</h3>
                </div>
            </div>
            @await Html.PartialAsync("_Сrier")
        </div>
    </div>
</section>
<section id="contact" class="content-section-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Свяжитесь с нами!</h2>
                <hr class="primary">
                <p>
                    Готовы сотрудничать с нами? Замечательно! Позвоните или отправьте электронное письмо и мы свяжемся с вами как можно скорее!         
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <a href="tel:+79226427229">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    +79226427229
                </a>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <a href="mailto:slotinak@bk.ru">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    slotinak@bk.ru
                </a>
            </div>
        </div>
    </div>
</section>
<a name="contact"></a>
<div class="social">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Поделись и получи скидку 10%!</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="http://vk.com/share.php?url=http://oztro.zapto.org:5000" class="btn btn-default btn-lg">
                            <i class="fa fa-vk fa-fw"></i>
                            <span class="network-name">ВКонтакте</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?url=http://oztro.zapto.org:5000&hashtags=expertlux&text=Эксперт Люкс, г. Пермь, Регистрация ООО, ИП, НКО под ключ" class="btn btn-default btn-lg">
                            <i class="fa fa-twitter fa-fw"></i>
                            <span class="network-name">Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/cws/share?url=http://oztro.zapto.org:5000" class="btn btn-default btn-lg">
                            <i class="fa fa-linkedin fa-fw"></i>
                            <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>